// minimal reset
* {
    padding: 0;
    margin: 0;
    border: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.025em;
    line-height: 20px;
}

@brand-primary:         #1269b0; // dark blue
@brand-success:         #5cb85c; // green
@brand-warning:         #c94646; // red
@brand-danger:          #ffed00; // yellow
@brand-info:            #5bc0de; // light blue

.brand-primary {
    color: @brand-primary;
}
.brand-success {
    color: @brand-success;
}
.brand-warning {
    color: @brand-warning;
}
.brand-danger {
    color: @brand-danger;
}
.brand-info {
    color: @brand-info;
}
