@top-height: 40px;

.applayout {
    height: 100%;
    > .row {
        height: 100%;
        .left {
            background: #f6f6f6;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .main {
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}
