@top-height: 40px;

@dark: #4c3a4b;
@darktxt: #998a98;

.applayout {
    height: 100%;
    padding: 0px;

    > .row {
        height: 100%;

        .left {
            height: 100%;
            padding-right: 0;
        }

        .left  > .span12 {

            padding-top: 15px;

            background: @dark;
            color: @darktxt;

            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;

            .self {
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
                padding: 7px 15px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: darken(@dark, 10%);
                height: 60px;
                .status {
                    &:before {
                        content: "●";
                        font-size: 18px;
                        line-height: 15px;
                        vertical-align: bottom;
                        padding-right: 3px;
                    }
                    &.online {
                        &:before {
                            color: #69b14b;
                        }
                    }
                }
            }

            .conversations {
                .conversation {
                    margin-bottom: 5px;
                    &:before {
                        content: "– ";
                    }
                    &:hover {
                        cursor: pointer;
                        color: lighten(@darktxt, 10%);
                    }
                }
                height: ~"calc(100% - 60px)";
            }
        }

        .main {
            height: 100%;
            .messages {
                position: relative;
                height: 100%;
                .message-list-scroll {
                    overflow-x: hidden;
                    overflow-y: scroll;
                    height: ~"calc(100% - 60px)";
                    .message-list {
                        background-color: #fff;
                        .message {
                            display: block;
                            margin: 0px;

                            .user {
                                display: inline-block;
                                font-weight: bold;
                                text-overflow: ellipsis;
                            }

                            .body {
                                display: inline-block;
                                overflow: hidden;
                                padding-left: 10px;
                            }
                        }
                    }
                }
                .message-xinput {
                    position: absolute;
                    bottom: 15px;
                    left: 0px;
                    right: 15px;
                    textarea {
                        border: 2px solid #ddd;
                        border-radius: 3px;
                        padding: 3px 7px;
                        font-size: 13px;
                        line-height: 20px;
                        width: 100%;
                        outline: none;
                        resize: none;
                        vertical-align: top;
                    }
                }
            }

        }
    }
}
