
.convlist {
    .label {
        font-size: 9px;
        line-height: 18px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        background-color: #6c6c6b;
    }
    .starred {
        .conv:last-child {
            .divider {
                display: none;
            }
        }
    }
    .conv {
        position: relative;
        padding: 10px 15px 10px;
        line-height: 25px;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover{
            background: #f4f4f4;
        }
        .divider {
            position: absolute;
            bottom:-1px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            display: none;
        }
        &.selected {
            background: #1e8fe8;
            color: #fff;
            cursor: auto;
            .convinfos{
                .lasttime, .convname{
                    color: #fff;
                }
            }
            .divider {
                display: none;
            }
        }
        &.unread {
            font-weight: 500;
        }
        &.purehang {
            color: #999;
            font-style: italic;
        }
        .convinfos{
            width: 100%;
            line-height: 1;
            .lasttime{
                font-size: 10px;
                color: #4a4a4a;
                width: 100%;
            }
            .convname {
                flex: 1;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                color: #4a4a4a;
                font-weight: bold;
                display: block;
                margin-bottom: 4px;
            }
            .lastmessage{
                > div{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 12px;
                }
            }
        }
        .unreadcount {
            margin-top: 3px;
            flex: none;
            font-size: 11px;
            font-weight: 600;
            background: #3a3a3a;
            color: #fff;
            width: 32px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            border-radius: 20px;
            z-index: 2;
        }
        @square: 50px;
        .thumbs {
            height: @square;
            width: @square;
            flex: none;
            position: relative;
            margin-right: 10px;
            + .convinfos{
                width: calc(~"100% - 60px");
            }
            img {
                border-radius: 50%;
                position: absolute;
            }

            /* one image */
            @size-one: 50px;
            img:nth-child(1):nth-last-child(1) {
                width: @size-one;
                height: @size-one;
                left: 0;
            }

            /* two images */
            @size-two: 41px;
            img:nth-child(1):nth-last-child(2) {
                width: @size-two;
                height: @size-two;
                top: 0px;
                left: 0px;
            }
            img:nth-child(2):nth-last-child(1) {
                width: @size-two;
                height: @size-two;
                top: 9px;
                left: 9px;
            }

        }
    }
}
