
.convlist {
    padding-top: 15px;
    padding-bottom: 15px;
    .conv {
        margin-right: -15px;
        padding: 6px 15px 6px 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background: #bbb;
        }
        &.selected {
            background: #adf;
            cursor: auto;
        }
    }
}
