
.input {
    display: flex;
    position: relative;
    > div {
        padding: 12px 15px 10px;
        width: ~"calc(100% - 28px)";
        textarea {
            width: 100%;
            resize: vertical;
            font-size: 14px;
            line-height: 18px;
            outline: none;
            border: 1px solid #dedede;
            border-radius: 3px;
            padding: 3px 10px;
        }
        button {
            position: absolute;
            right: 12px;
            bottom: 12px;
            flex: none;
            margin-left: 5px;
            background: white;
            border: 1px solid #dedede;
            border-radius: 3px;
            height: 26px;
            width: 26px;
            padding: 0;
            cursor: pointer;
            span {
                display: inline-block;
                line-height: 24px;
            }
        }
        input[type=file] {
            display: none;
        }
    }
}
