.listhead {
    background: var(--green);
    color: var(--white);
    height: var(--headerbarheight);
    line-height: var(--headerbarheight);
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.osx {
    .listhead {
        .listheadlabel {
            padding-left: 77px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
        }
    }
}
